<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style/normalize.css">
  <link rel="stylesheet" href="style/github-light.css">
  <link rel="stylesheet" href="style/stylesheet.css">
  <title>vue-input-tag</title>
</head>
<body>
  <div id="app">
    <section class="page-header">
      <h1 class="project-name">Vue.js Input Tag</h1>
      <h2 class="project-tagline"></h2><a href="https://github.com/matiastucci/vue-input-tag" target="_blank" class="btn">GitHub</a><a href="https://www.npmjs.com/package/vue-input-tag" target="_blank" class="btn">NPM</a>
    </section>

    <section class="main-content">
      <p>Vue.js 2.0 component, inspired in&nbsp;<a href="https://github.com/olahol/react-tagsinput" target="_blank">react-tagsinput&nbsp;</a></p>
      <h3><a id="install" href="#install" aria-hidden="true" class="anchor"><span aria-hidden="true" class="octicon octicon-link"></span></a>Install</h3>
      <p><code>npm install vue-input-tag --save</code></p>
      <h3><a id="playground" href="#playground" aria-hidden="true" class="anchor"><span aria-hidden="true" class="octicon octicon-link"></span></a>Playground</h3>

      <div class="playground">
        <div class="form-group">
          <p class="label">placeholder:</p>
          <input v-model="placeholder" type="text"/>
        </div>
        <div class="form-group">
          <p class="label">readOnly:</p>
          <input v-model="readOnly" type="checkbox"/>
        </div>
        <div class="form-group">
          <p class="label">addTagOnBlur:</p>
          <input v-model="addTagOnBlur" type="checkbox"/>
        </div>
        <div class="form-group">
          <p class="label">limit:</p>
          <input v-model="limit" type="number"/>
        </div>
        <div class="form-group">
          <p class="label">validate:</p>
          <select v-model="validate">
            <option value="">No validate</option>
            <option value="text">Text</option>
            <option value="email">Email</option>
            <option value="url">Url</option>
            <option value="digits">Digits</option>
            <option value="isodate">ISO Date</option>
          </select>
        </div>
        <div class="form-group">
          <p class="label">tags:</p><code>{{ tags }}</code>
        </div>

        <div>
          <span></span>
          <h3><a id="playground" href="#playground" aria-hidden="true" class="anchor"><span aria-hidden="true" class="octicon octicon-link"></span></a>Preview</h3>

          <v-input-tag
            v-bind:limit='limit'
            v-bind:tags.sync='tags'
            v-bind:placeholder='placeholder'
            v-bind:read-only='readOnly'
            v-bind:validate='validate'
            v-bind:add-tag-on-blur='addTagOnBlur'
          ></v-input-tag>

          <code> {{ getPreviewHTML() }} </code>
        </div>

        <footer class="site-footer">
          <span class="site-footer-credits">
            <a href="https://twitter.com/TucciMatias" target="_blank">@TucciMatias</a>
            <span>&nbsp;-&nbsp;</span><a href="https://tucci.me" target="_blank">tucci.me</a>
          </span>
        </footer>
      </div>
    </section>
  </div>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vue-input-tag"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>
